
<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup] ="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName ="customer" class="form-area">
                    <h3>Customeer</h3>
                    <div class="row">
                        <div class="col-md-2"><label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-2"><label>Last Name</label></div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="lastName" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-2"><label>Email</label></div>
                                <div class="col-md-9">
                                    <div class="input-space">
                                        <input formControlName="email" type="text">
                                    </div>
                                </div>
                            </div>
                </div>
                            
                            <!--Shipping address-->
                            <div formGroupName ="shippingAddress" class="form-area">
                                    <h3>Shipping Address</h3>
                                    <div class="row">
                                        <div class="col-md-2"><label>Country</label></div>
                                        <div class="col-md-9">
                                            <div class="input-space">
                                              <select formGroupName="country" (change)="getStates('shippingAddress')">
                                               <option *ngFor="let country of countries" [ngValue]="country" >
                                                 {{country.name}}
                                               </option>
                                              </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-2"><label>Street</label></div>
                                            <div class="col-md-9">
                                                <div class="input-space">
                                                    <input formControlName="street" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-2"><label>City</label></div>
                                                <div class="col-md-9">
                                                    <div class="input-space">
                                                        <input formControlName="city" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-2"><label>State</label></div>
                                                    <div class="col-md-9">
                                                        <div class="input-space">
                                                          <select formGroupName="state">
                                                            <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                                                {{state.name}}

                                                            </option>
                                                          </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-md-2"><label>Zip Code</label></div>
                                                        <div class="col-md-9">
                                                            <div class="input-space">
                                                                <input formControlName="zipCode" type="text">
                                                            </div>
                                                        </div>
                                                    </div>

                            </div>
                                                    <!--Billing address-->
                                                    <div class="input-space">
                                                        <label class="au-checkbox">
                                                            <input type="checkbox" (change)="copyAddress($event)" />
                                                            <span class="au-checkmark"></span>Billing address same as Shipping Address
                                                        </label>
                                                    </div>
                                                    <div formGroupName ="billingAddress" class="form-area">
                                                            <h3>Billing Adresse</h3>
                                                            <div class="row">
                                                                <div class="col-md-2"><label>Counrty</label></div>
                                                                <div class="col-md-9">
                                                                    <div class="input-space">
                                                                      <select formGroupName="country">
                                                                        <option *ngFor="let country of countries" [ngValue]="country">
                                                                            {{country.name}}
                                                                        </option>
                                                                      </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                    <div class="col-md-2"><label>Street</label></div>
                                                                    <div class="col-md-9">
                                                                        <div class="input-space">
                                                                            <input formControlName="street" type="text">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                        <div class="col-md-2"><label>City</label></div>
                                                                        <div class="col-md-9">
                                                                            <div class="input-space">
                                                                                <input formControlName="city" type="text">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                            <div class="col-md-2"><label>State</label></div>
                                                                            <div class="col-md-9">
                                                                                <div class="input-space">
                                                                                    <select formGroupName="state">
                                                                                        <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                                                                            {{state.name}}
                            
                                                                                        </option>
                                                                                      </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                                <div class="col-md-2"><label>Zip Code</label></div>
                                                                                <div class="col-md-9">
                                                                                    <div class="input-space">
                                                                                        <input formControlName="zipCode" type="text">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        
                                                    </div>

                                                <!-- credit card -->

                                                <div formGroupName = "creditCard" class="form-area">
                                                        <h3>Credit Card</h3>
                                                        <div class="row">
                                                            <div class="col-md-2"><label>Card Type</label></div>
                                                            <div class="col-md-9">
                                                                <div class="input-space">
                                                                  <select formControlName="cardType">
                                                                    <option>visa</option>
                                                                    <option>masterCard</option>
                                                                  </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="col-md-2"><label>Name on Card</label></div>
                                                                <div class="col-md-9">
                                                                    <div class="input-space">
                                                                        <input formControlName="nameOnCard" type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                    <div class="col-md-2"><label>Card Number</label></div>
                                                                    <div class="col-md-9">
                                                                        <div class="input-space">
                                                                            <input formControlName="cardNumber" type="text">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                    <div class="row">
                                                                            <div class="col-md-2"><label>Security Code</label></div>
                                                                            <div class="col-md-9">
                                                                                <div class="input-space">
                                                                                    <input formControlName="securityNumber" type="text">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                                <div class="col-md-2"><label>Expiration Month</label></div>
                                                                                <div class="col-md-9">
                                                                                    <div class="input-space">
                                                                                        <select formControlName="expirationMonth">
                                                                                          <option *ngFor="let month of creditCardMonths">
                                                                                            {{month}}
                                                                                          </option>
                                                                                        </select>
                                                                                      </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                    <div class="col-md-2"><label>Expiration Year</label></div>
                                                                                    <div class="col-md-9">
                                                                                        <div class="input-space">
                                                                                            <select formControlName="expirationYear" (change)="handleMethodAndYears()">
                                                                                              <option *ngFor="let year of creditCardyears">
                                                                                                {{year}}
                                                                                              </option>
                                                                                            </select>
                                                                                          </div>
                                                                                    </div>
                                                                                </div>
                                                       
                                                </div>
                                                        <div class="form-area">
                                                            <h3>Review your order</h3>
                                                        <p>Total quantuty : {{totalQuantity}}</p>
                                                        <p>Shipping Free </p>
                                                        <p>Total price {{totalPrice}} </p>

                                                        </div>
                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-primary">Purchase</button>
                                                        </div>
                            

                            
                                                        
          </form>

            
        </div>

    </div>

</div>
